<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="author" content="dragouf">
    <meta name="robots" content="noarchive">

    <link rel="shortcut icon" href="/Content/images/favicon.png">

    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Content/images/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Content/images/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/apple-touch-icon-precomposed.png">

    <title>Connexion - Ollert</title>

    @Styles.Render("~/css/bootstrap")
    <!-- Custom styles for this template -->
    <link href="/Content/signin.css" rel="stylesheet">
</head>

<body>

    <div class="container">
    @RenderBody()
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>